In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\uy128\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\uy128\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\uy128\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\uy128\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\uy128\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\uy128\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
#Question1: Read the CSV file, and initially import all data as strings.
df = pd.read_csv("C:/Users/uy128/Desktop/IFS_09-16-2024 16-36-10-58_timeSeries.csv", dtype = str)

In [5]:
#Question2: Explore the data:
#1. Print the data
print(df.head())

                   Country Name Country Code  \
0                       Algeria          612
1                       Algeria          612
2            Advanced Economies          110
3            Advanced Economies          110
4  Afghanistan, Islamic Rep. of          512

                                      Indicator Name Indicator Code Attribute  \
0  Exchange Rates, Real Effective Exchange Rate b...       EREER_IX     Value
1  Exchange Rates, Nominal Effective Exchange Rat...       ENEER_IX     Value
2  International Reserves, Official Reserve Asset...    RAFAIMF_USD     Value
3  International Reserves, Official Reserve Asset...   RAFAGOLD_XDR     Value
4  International Reserves, Official Reserve Asset...  RAFAGOLDM_XDR     Value

  1920 1921 1922 1923 1924  ...              2017              2018  \
0  NaN  NaN  NaN  NaN  NaN  ...    97.80447564541  93.5157489171034
1  NaN  NaN  NaN  NaN  NaN  ...    80.60906091814  76.0965652454904
2  NaN  NaN  NaN  NaN  NaN  ...  63547545981.7339  76857410073.5034
3  NaN  NaN  NaN  NaN  NaN  ...  24716947436.9292  24707369756.9292
4  NaN  NaN  NaN  NaN  NaN  ...  640000000.456685  647837035.071691

               2019              2020              2021              2022  \
0  95.4487592754358  91.2229082196299  86.8016646784102  92.3381209145264
1  78.1204242756082  74.2962700990688  68.1517784189964  72.3922554138843
2  83949974428.7892   113891596672.98  112015603087.784   112934663160.78
3  24680105650.9995  24686823840.9395   24824788263.205   24812821796.455
4  774267227.196942  923062855.463203               NaN               NaN

               2023 2024 Base Year Unnamed: 111
0  102.343515593608  NaN       NaN          NaN
1  78.0558372161119  NaN       NaN          NaN
2  106272429524.781  NaN       NaN          NaN
3   24938530806.455  NaN       NaN          NaN
4               NaN  NaN       NaN          NaN

[5 rows x 112 columns]

In [9]:
#Question2:
#2. Get the dimension with and without NAN values
dimensions_with_nan = df.shape
print("Dimensions with NaN values:", dimensions_with_nan)

dimensions_non_nan = df.isna()
print("Dimensions without NAN values:", dimensions_non_nan)

Dimensions with NaN values: (97904, 112)
Dimensions without NAN values:        Country Name  Country Code  Indicator Name  Indicator Code  Attribute  \
0             False         False           False           False      False
1             False         False           False           False      False
2             False         False           False           False      False
3             False         False           False           False      False
4             False         False           False           False      False
...             ...           ...             ...             ...        ...
97899         False         False           False           False      False
97900         False         False           False           False      False
97901         False         False           False           False      False
97902         False         False           False           False      False
97903         False         False           False           False      False

       1920  1921  1922  1923  1924  ...   2017   2018   2019   2020   2021  \
0      True  True  True  True  True  ...  False  False  False  False  False
1      True  True  True  True  True  ...  False  False  False  False  False
2      True  True  True  True  True  ...  False  False  False  False  False
3      True  True  True  True  True  ...  False  False  False  False  False
4      True  True  True  True  True  ...  False  False  False  False   True
...     ...   ...   ...   ...   ...  ...    ...    ...    ...    ...    ...
97899  True  True  True  True  True  ...  False  False  False  False  False
97900  True  True  True  True  True  ...   True   True   True   True   True
97901  True  True  True  True  True  ...   True   True   True   True   True
97902  True  True  True  True  True  ...   True   True   True   True   True
97903  True  True  True  True  True  ...   True   True   True   True   True

        2022   2023  2024  Base Year  Unnamed: 111
0      False  False  True       True          True
1      False  False  True       True          True
2      False  False  True       True          True
3      False  False  True       True          True
4       True   True  True       True          True
...      ...    ...   ...        ...           ...
97899  False   True  True       True          True
97900  False   True  True       True          True
97901  False   True  True       True          True
97902  False   True  True       True          True
97903  False   True  True       True          True

[97904 rows x 112 columns]

In [11]:
#Question 2:
#3. Get the names of the columns
column = df.columns.tolist()
print("Name of columns:", column)

Name of columns: ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Attribute', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', 'Base Year', 'Unnamed: 111']

In [13]:
#Question 2:
#4. Get count of unique countries, based on column "Country Name"
country_count = len(df['Country Name'].unique())
print("Unique Countries:", country_count)

Unique Countries: 229

In [15]:
#Question 2:
#5. Get count of unique countries, based on column "Country Code"
c_code_count = len(df["Country Code"].unique())
print("Unique Country Code Count:", c_code_count)

Unique Country Code Count: 229

In [17]:
#Question 2:
#6. Get count of unique indicators, based on column "Indicator Code"
i_code_count = len(df['Indicator Code'].unique())
print("Unique Indicator Code:", i_code_count)

Unique Indicator Code: 1521

In [21]:
#Question 3: Subset the data :
#1. Select years from 2010 till 2023
years_data = df.loc[:, '2010':'2023']
print(years_data)

                   2010              2011              2012              2013  \
0                   100  99.1231897628024   103.90978027316  101.798080355636
1                   100  98.3265214845329  97.4905372174781  94.5815242984985
2      62089729047.8275  113477643233.393  119334631130.005  112731661960.942
3      24657441382.0644  24696445077.9007  24725269815.2626  24742042518.5962
4      641591660.944801  701051604.691813  761132857.178282  549850592.404873
...                 ...               ...               ...               ...
97899               NaN               NaN               NaN               NaN
97900               NaN               NaN               NaN               NaN
97901               NaN               NaN               NaN               NaN
97902               NaN               NaN               NaN               NaN
97903               NaN               NaN               NaN               NaN

                   2014              2015              2016              2017  \
0      102.924005799537  96.5731122012372  95.5845861241487    97.80447564541
1      94.6060830467699  85.8390347468218  81.1062421390044    80.60906091814
2      87849190804.7241  63912182583.8609  70657946339.6533  63547545981.7339
3      24738362064.4383  24732677849.0439  24721808931.3499  24716947436.9292
4      585188446.667753  537756222.240691  599237025.827539  640000000.456685
...                 ...               ...               ...               ...
97899               NaN               NaN               NaN  2114365890.82181
97900               NaN               NaN               NaN               NaN
97901               NaN               NaN               NaN               NaN
97902               NaN               NaN               NaN               NaN
97903               NaN               NaN               NaN               NaN

                   2018              2019              2020              2021  \
0      93.5157489171034  95.4487592754358  91.2229082196299  86.8016646784102
1      76.0965652454904  78.1204242756082  74.2962700990688  68.1517784189964
2      76857410073.5034  83949974428.7892   113891596672.98  112015603087.784
3      24707369756.9292  24680105650.9995  24686823840.9395   24824788263.205
4      647837035.071691  774267227.196942  923062855.463203               NaN
...                 ...               ...               ...               ...
97899  2158018067.57023  6577406147.59673  42742655184.5933  98888054506.3303
97900               NaN               NaN               NaN               NaN
97901               NaN               NaN               NaN               NaN
97902               NaN               NaN               NaN               NaN
97903               NaN               NaN               NaN               NaN

                   2022              2023
0      92.3381209145264  102.343515593608
1      72.3922554138843  78.0558372161119
2       112934663160.78  106272429524.781
3       24812821796.455   24938530806.455
4                   NaN               NaN
...                 ...               ...
97899  412152188700.442               NaN
97900  8.18311547054968               NaN
97901  6.27882599580713               NaN
97902  8.18311547054968               NaN
97903  6.27882599580713               NaN

[97904 rows x 14 columns]

In [31]:
#Question 3:
#2. Filter data for the indicators given in Table 1. Use the column "Indicator Code"

indicators = [
    'NGDP_XDC', 'NCP_XDC', 'NCGG_XDC', 'NFI_XDC', 'NINV_XDC', 'NX_XDC', 'NM_XDC',
    'NGDP_R_XDC', 'NCP_R_XDC', 'NCGG_R_XDC', 'NFI_R_XDC', 'NINV_R_XDC', 'NX_R_XDC', 'NM_R_XDC',
    'NSDGDP_XDC', 'NSDGDP_R_XDC'
]
filtered_data = df[df['Indicator Code'].isin(indicators)]
print(filtered_data)

                   Country Name Country Code  \
2158                    Albania          914
2159   Andorra, Principality of          171
2160                    Algeria          612
2162                    Albania          914
2168   Andorra, Principality of          171
...                         ...          ...
97892                  Zimbabwe          698
97896                  Zimbabwe          698
97897                  Zimbabwe          698
97898                  Zimbabwe          698
97899                  Zimbabwe          698

                                          Indicator Name Indicator Code  \
2158   Gross Domestic Product, Nominal, Domestic Curr...       NGDP_XDC
2159   Imports of Goods and Services, Real, Domestic ...       NM_R_XDC
2160   Imports of Goods and Services, Nominal, Domest...         NM_XDC
2162   Exports of Goods and Services, Nominal, Domest...         NX_XDC
2168   Imports of Goods and Services, Nominal, Domest...         NM_XDC
...                                                  ...            ...
97892  General Government Final Consumption Expenditu...     NCGG_R_XDC
97896  General Government Final Consumption Expenditu...       NCGG_XDC
97897    Changes in Inventories, Real, Domestic Currency     NINV_R_XDC
97898  Gross Fixed Capital Formation, Real, Domestic ...      NFI_R_XDC
97899  Changes in Inventories, Nominal, Domestic Curr...       NINV_XDC

      Attribute 1920 1921 1922 1923 1924  ...              2017  \
2158      Value  NaN  NaN  NaN  NaN  NaN  ...     1550645485902
2159      Value  NaN  NaN  NaN  NaN  NaN  ...        1270503400
2160      Value  NaN  NaN  NaN  NaN  NaN  ...     6213400000000
2162      Value  NaN  NaN  NaN  NaN  NaN  ...      489535652406
2168      Value  NaN  NaN  NaN  NaN  NaN  ...        1307496200
...         ...  ...  ...  ...  ...  ...  ...               ...
97892     Value  NaN  NaN  NaN  NaN  NaN  ...   25831428827.656
97896     Value  NaN  NaN  NaN  NaN  NaN  ...  7458896626.09832
97897     Value  NaN  NaN  NaN  NaN  NaN  ...  5019235526.60276
97898     Value  NaN  NaN  NaN  NaN  NaN  ...  22666496852.6663
97899     Value  NaN  NaN  NaN  NaN  NaN  ...  2114365890.82181

                   2018              2019              2020              2021  \
2158      1636731321762     1691903429768     1647431071359     1856172259229
2159         1316546000        1779114700        1645551400        1705463300
2160      6581300000000     6026300000000     5195100000000     5884000000000
2162       516747524459      529638015862      373271466227      581151907073
2168         1368596400        1876680900        1751644100        1863777500
...                 ...               ...               ...               ...
97892  20354465881.3313  15571819905.0082  11872193914.7017  28742711034.8509
97896  7221916294.69434  15571819905.0082  122269562129.032  475807969187.989
97897  7342305923.28005  6577406147.59673  7331069760.84434  6101274500.96287
97898  23541985152.5519   22701284543.533  20757587671.3769  20932251220.0684
97899  2158018067.57023  6577406147.59673  42742655184.5933  98888054506.3303

                   2022           2023 2024 Base Year Unnamed: 111
2158      2138339132940  2312588388335  NaN       NaN          NaN
2159                NaN            NaN  NaN      2010          NaN
2160      6532000000000            NaN  NaN       NaN          NaN
2162       799640897262   916326055133  NaN       NaN          NaN
2168                NaN            NaN  NaN       NaN          NaN
...                 ...            ...  ...       ...          ...
97892  37730622351.6131            NaN  NaN      2019          NaN
97896  2068349549295.77            NaN  NaN       NaN          NaN
97897  7518438355.13287            NaN  NaN      2019          NaN
97898   24684899269.545            NaN  NaN      2019          NaN
97899  412152188700.442            NaN  NaN       NaN          NaN

[2308 rows x 112 columns]

In [33]:
#Question 4:
#Make sure the index runs from 0 to n for each of the following tasks, also ensure it does not affect your dataframe in any way:

filtered_data_reset = filtered_data.reset_index(drop=True)
print(filtered_data_reset)

                  Country Name Country Code  \
0                      Albania          914
1     Andorra, Principality of          171
2                      Algeria          612
3                      Albania          914
4     Andorra, Principality of          171
...                        ...          ...
2303                  Zimbabwe          698
2304                  Zimbabwe          698
2305                  Zimbabwe          698
2306                  Zimbabwe          698
2307                  Zimbabwe          698

                                         Indicator Name Indicator Code  \
0     Gross Domestic Product, Nominal, Domestic Curr...       NGDP_XDC
1     Imports of Goods and Services, Real, Domestic ...       NM_R_XDC
2     Imports of Goods and Services, Nominal, Domest...         NM_XDC
3     Exports of Goods and Services, Nominal, Domest...         NX_XDC
4     Imports of Goods and Services, Nominal, Domest...         NM_XDC
...                                                 ...            ...
2303  General Government Final Consumption Expenditu...     NCGG_R_XDC
2304  General Government Final Consumption Expenditu...       NCGG_XDC
2305    Changes in Inventories, Real, Domestic Currency     NINV_R_XDC
2306  Gross Fixed Capital Formation, Real, Domestic ...      NFI_R_XDC
2307  Changes in Inventories, Nominal, Domestic Curr...       NINV_XDC

     Attribute 1920 1921 1922 1923 1924  ...              2017  \
0        Value  NaN  NaN  NaN  NaN  NaN  ...     1550645485902
1        Value  NaN  NaN  NaN  NaN  NaN  ...        1270503400
2        Value  NaN  NaN  NaN  NaN  NaN  ...     6213400000000
3        Value  NaN  NaN  NaN  NaN  NaN  ...      489535652406
4        Value  NaN  NaN  NaN  NaN  NaN  ...        1307496200
...        ...  ...  ...  ...  ...  ...  ...               ...
2303     Value  NaN  NaN  NaN  NaN  NaN  ...   25831428827.656
2304     Value  NaN  NaN  NaN  NaN  NaN  ...  7458896626.09832
2305     Value  NaN  NaN  NaN  NaN  NaN  ...  5019235526.60276
2306     Value  NaN  NaN  NaN  NaN  NaN  ...  22666496852.6663
2307     Value  NaN  NaN  NaN  NaN  NaN  ...  2114365890.82181

                  2018              2019              2020              2021  \
0        1636731321762     1691903429768     1647431071359     1856172259229
1           1316546000        1779114700        1645551400        1705463300
2        6581300000000     6026300000000     5195100000000     5884000000000
3         516747524459      529638015862      373271466227      581151907073
4           1368596400        1876680900        1751644100        1863777500
...                ...               ...               ...               ...
2303  20354465881.3313  15571819905.0082  11872193914.7017  28742711034.8509
2304  7221916294.69434  15571819905.0082  122269562129.032  475807969187.989
2305  7342305923.28005  6577406147.59673  7331069760.84434  6101274500.96287
2306  23541985152.5519   22701284543.533  20757587671.3769  20932251220.0684
2307  2158018067.57023  6577406147.59673  42742655184.5933  98888054506.3303

                  2022           2023 2024 Base Year Unnamed: 111
0        2138339132940  2312588388335  NaN       NaN          NaN
1                  NaN            NaN  NaN      2010          NaN
2        6532000000000            NaN  NaN       NaN          NaN
3         799640897262   916326055133  NaN       NaN          NaN
4                  NaN            NaN  NaN       NaN          NaN
...                ...            ...  ...       ...          ...
2303  37730622351.6131            NaN  NaN      2019          NaN
2304  2068349549295.77            NaN  NaN       NaN          NaN
2305  7518438355.13287            NaN  NaN      2019          NaN
2306   24684899269.545            NaN  NaN      2019          NaN
2307  412152188700.442            NaN  NaN       NaN          NaN

[2308 rows x 112 columns]

In [35]:
#1. Count the total number of entries for each indicator in the "Indicator Code" column.
indicators_count = df['Indicator Code'].value_counts()
print(indicators_count)

Indicator Code
BCAXF_BP6_USD     390
BTGSI_BP6_USD     390
BXG_BP6_USD       390
BGS_BP6_USD       390
BTCKFA_BP6_USD    390
                 ...
14D___EUR           1
14C___EUR           1
15____EUR           1
20____EUR           1
56J___XDC           1
Name: count, Length: 1521, dtype: int64

In [45]:
#2. Count the total number of entries for each country in the "Country Name" column, and sort the results by count in descending order.
country_counts = df['Country Name'].value_counts().sort_values(ascending=False)
print(country_counts)

Country Name
Indonesia             957
Brazil                873
Chile                 816
Türkiye, Rep of       799
Russian Federation    744
                     ...
Gibraltar              33
Isle of Man            33
Jersey                 32
Guernsey               32
Reunion                29
Name: count, Length: 229, dtype: int64

In [47]:
#3. Count the total number of entries for each country in the "Country Name" column, then filter the results to show only countries with 14 or more entries. 
#Sort the results by "Country Name" in descending order
country_counts = df['Country Name'].value_counts().loc[lambda x: x >= 14].sort_index(ascending=False)
print(country_counts)

Country Name
Zimbabwe                        488
Zambia                          532
Yugoslavia                       82
Yemen, Rep. of                  247
Yemen, People's Dem. Rep. of     56
                               ...
Andorra, Principality of        189
Algeria                         445
Albania                         595
Afghanistan, Islamic Rep. of    486
Advanced Economies               55
Name: count, Length: 229, dtype: int64

In [49]:
#4. Perform the task in (c) but print the complete list of results.
country_counts = df['Country Name'].value_counts()
print(country_counts)

Country Name
Indonesia             957
Brazil                873
Chile                 816
Türkiye, Rep of       799
Russian Federation    744
                     ...
Gibraltar              33
Isle of Man            33
Jersey                 32
Guernsey               32
Reunion                29
Name: count, Length: 229, dtype: int64

In [53]:
#5. Count the total number of entries for each attribute in the "Attribute" column. Did you find only one attribute ’Value’?
attribute_counts = df['Attribute'].value_counts()
print(attribute_counts)

# Check if there is only one attribute 'Value'
is_single_attribute = (attribute_counts.index == 'Value').sum() == len(attribute_counts)
print("Only one attribute 'Value':", is_single_attribute)

Attribute
Value     75489
Status    22415
Name: count, dtype: int64
Only one attribute 'Value': False

In [63]:
#Question 5: 
#1. Create a new DataFrame called "indicator_dict" that contains unique pairs of "Indicator Name" and "Indicator Code".
#2. The index in above should run from 0 to n
#3. This new dataframe is expected to have 16 rows and two columns, "Indicator Name" and "Indicator Code".

indicator_dict = df[df['Indicator Code'].isin(indicators)][['Indicator Name', 'Indicator Code']].drop_duplicates().reset_index(drop=True)
print(indicator_dict)

                                       Indicator Name Indicator Code
0   Gross Domestic Product, Nominal, Domestic Curr...       NGDP_XDC
1   Imports of Goods and Services, Real, Domestic ...       NM_R_XDC
2   Imports of Goods and Services, Nominal, Domest...         NM_XDC
3   Exports of Goods and Services, Nominal, Domest...         NX_XDC
4   Changes in Inventories, Nominal, Domestic Curr...       NINV_XDC
5   Gross Fixed Capital Formation, Nominal, Domest...        NFI_XDC
6   General Government Final Consumption Expenditu...     NCGG_R_XDC
7     Changes in Inventories, Real, Domestic Currency     NINV_R_XDC
8   General Government Final Consumption Expenditu...       NCGG_XDC
9   Statistical Discrepancy, Nominal, Domestic Cur...     NSDGDP_XDC
10  Private Sector Final Consumption Expenditure, ...      NCP_R_XDC
11    Gross Domestic Product, Real, Domestic Currency     NGDP_R_XDC
12  Private Sector Final Consumption Expenditure, ...        NCP_XDC
13  Exports of Goods and Services, Real, Domestic ...       NX_R_XDC
14  Gross Fixed Capital Formation, Real, Domestic ...      NFI_R_XDC
15   Statistical Discrepancy, Real, Domestic Currency   NSDGDP_R_XDC

In [65]:
#4. Initialize an empty list called data.
data = []

In [69]:
#5. Iterate through each row of the indicator_dict DataFrame.
#6. For each row, append a list containing the row index (starting from 1 instead of 0), "Indicator Code", and "Indicator Name" to the data list.

for index, row in indicator_dict.iterrows():
    data.append([index + 1, row['Indicator Code'], row['Indicator Name']])
    print(data)

[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency'], [8, 'NINV_R_XDC', 'Changes in Inventories, Real, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency'], [8, 'NINV_R_XDC', 'Changes in Inventories, Real, Domestic Currency'], [9, 'NCGG_XDC', 'General Government Final Consumption Expenditure, Nominal, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency'], [8, 'NINV_R_XDC', 'Changes in Inventories, Real, Domestic Currency'], [9, 'NCGG_XDC', 'General Government Final Consumption Expenditure, Nominal, Domestic Currency'], [10, 'NSDGDP_XDC', 'Statistical Discrepancy, Nominal, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency'], [8, 'NINV_R_XDC', 'Changes in Inventories, Real, Domestic Currency'], [9, 'NCGG_XDC', 'General Government Final Consumption Expenditure, Nominal, Domestic Currency'], [10, 'NSDGDP_XDC', 'Statistical Discrepancy, Nominal, Domestic Currency'], [11, 'NCP_R_XDC', 'Private Sector Final Consumption Expenditure, Real, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency'], [8, 'NINV_R_XDC', 'Changes in Inventories, Real, Domestic Currency'], [9, 'NCGG_XDC', 'General Government Final Consumption Expenditure, Nominal, Domestic Currency'], [10, 'NSDGDP_XDC', 'Statistical Discrepancy, Nominal, Domestic Currency'], [11, 'NCP_R_XDC', 'Private Sector Final Consumption Expenditure, Real, Domestic Currency'], [12, 'NGDP_R_XDC', 'Gross Domestic Product, Real, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency'], [8, 'NINV_R_XDC', 'Changes in Inventories, Real, Domestic Currency'], [9, 'NCGG_XDC', 'General Government Final Consumption Expenditure, Nominal, Domestic Currency'], [10, 'NSDGDP_XDC', 'Statistical Discrepancy, Nominal, Domestic Currency'], [11, 'NCP_R_XDC', 'Private Sector Final Consumption Expenditure, Real, Domestic Currency'], [12, 'NGDP_R_XDC', 'Gross Domestic Product, Real, Domestic Currency'], [13, 'NCP_XDC', 'Private Sector Final Consumption Expenditure, Nominal, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency'], [8, 'NINV_R_XDC', 'Changes in Inventories, Real, Domestic Currency'], [9, 'NCGG_XDC', 'General Government Final Consumption Expenditure, Nominal, Domestic Currency'], [10, 'NSDGDP_XDC', 'Statistical Discrepancy, Nominal, Domestic Currency'], [11, 'NCP_R_XDC', 'Private Sector Final Consumption Expenditure, Real, Domestic Currency'], [12, 'NGDP_R_XDC', 'Gross Domestic Product, Real, Domestic Currency'], [13, 'NCP_XDC', 'Private Sector Final Consumption Expenditure, Nominal, Domestic Currency'], [14, 'NX_R_XDC', 'Exports of Goods and Services, Real, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency'], [8, 'NINV_R_XDC', 'Changes in Inventories, Real, Domestic Currency'], [9, 'NCGG_XDC', 'General Government Final Consumption Expenditure, Nominal, Domestic Currency'], [10, 'NSDGDP_XDC', 'Statistical Discrepancy, Nominal, Domestic Currency'], [11, 'NCP_R_XDC', 'Private Sector Final Consumption Expenditure, Real, Domestic Currency'], [12, 'NGDP_R_XDC', 'Gross Domestic Product, Real, Domestic Currency'], [13, 'NCP_XDC', 'Private Sector Final Consumption Expenditure, Nominal, Domestic Currency'], [14, 'NX_R_XDC', 'Exports of Goods and Services, Real, Domestic Currency'], [15, 'NFI_R_XDC', 'Gross Fixed Capital Formation, Real, Domestic Currency']]
[[1, 'NGDP_XDC', 'Gross Domestic Product, Nominal, Domestic Currency'], [2, 'NM_R_XDC', 'Imports of Goods and Services, Real, Domestic Currency'], [3, 'NM_XDC', 'Imports of Goods and Services, Nominal, Domestic Currency'], [4, 'NX_XDC', 'Exports of Goods and Services, Nominal, Domestic Currency'], [5, 'NINV_XDC', 'Changes in Inventories, Nominal, Domestic Currency'], [6, 'NFI_XDC', 'Gross Fixed Capital Formation, Nominal, Domestic Currency'], [7, 'NCGG_R_XDC', 'General Government Final Consumption Expenditure, Real, Domestic Currency'], [8, 'NINV_R_XDC', 'Changes in Inventories, Real, Domestic Currency'], [9, 'NCGG_XDC', 'General Government Final Consumption Expenditure, Nominal, Domestic Currency'], [10, 'NSDGDP_XDC', 'Statistical Discrepancy, Nominal, Domestic Currency'], [11, 'NCP_R_XDC', 'Private Sector Final Consumption Expenditure, Real, Domestic Currency'], [12, 'NGDP_R_XDC', 'Gross Domestic Product, Real, Domestic Currency'], [13, 'NCP_XDC', 'Private Sector Final Consumption Expenditure, Nominal, Domestic Currency'], [14, 'NX_R_XDC', 'Exports of Goods and Services, Real, Domestic Currency'], [15, 'NFI_R_XDC', 'Gross Fixed Capital Formation, Real, Domestic Currency'], [16, 'NSDGDP_R_XDC', 'Statistical Discrepancy, Real, Domestic Currency']]

In [75]:
#Question 6: 
#1. Filter the dataset to remove all entries where the "Country Name" is ‘Euro Area’.
new_countries = df[df['Country Name'] != 'Euro Area']
print(new_countries)

                       Country Name Country Code  \
0                           Algeria          612
1                           Algeria          612
2                Advanced Economies          110
3                Advanced Economies          110
4      Afghanistan, Islamic Rep. of          512
...                             ...          ...
97899                      Zimbabwe          698
97900                      Zimbabwe          698
97901                      Zimbabwe          698
97902                      Zimbabwe          698
97903                      Zimbabwe          698

                                          Indicator Name    Indicator Code  \
0      Exchange Rates, Real Effective Exchange Rate b...          EREER_IX
1      Exchange Rates, Nominal Effective Exchange Rat...          ENEER_IX
2      International Reserves, Official Reserve Asset...       RAFAIMF_USD
3      International Reserves, Official Reserve Asset...      RAFAGOLD_XDR
4      International Reserves, Official Reserve Asset...     RAFAGOLDM_XDR
...                                                  ...               ...
97899  Changes in Inventories, Nominal, Domestic Curr...          NINV_XDC
97900  Unemployment, Persons, Percentage change, corr...  LU_PE_PC_CP_A_PT
97901  Labor Markets, Unemployment Rate, Percentage c...      LUR_PC_PP_PT
97902  Unemployment, Persons, Percentage change, prev...    LU_PE_PC_PP_PT
97903  Labor Markets, Unemployment Rate, Percentage c...    LUR_PC_CP_A_PT

      Attribute 1920 1921 1922 1923 1924  ...              2017  \
0         Value  NaN  NaN  NaN  NaN  NaN  ...    97.80447564541
1         Value  NaN  NaN  NaN  NaN  NaN  ...    80.60906091814
2         Value  NaN  NaN  NaN  NaN  NaN  ...  63547545981.7339
3         Value  NaN  NaN  NaN  NaN  NaN  ...  24716947436.9292
4         Value  NaN  NaN  NaN  NaN  NaN  ...  640000000.456685
...         ...  ...  ...  ...  ...  ...  ...               ...
97899     Value  NaN  NaN  NaN  NaN  NaN  ...  2114365890.82181
97900     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97901     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97902     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97903     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN

                   2018              2019              2020              2021  \
0      93.5157489171034  95.4487592754358  91.2229082196299  86.8016646784102
1      76.0965652454904  78.1204242756082  74.2962700990688  68.1517784189964
2      76857410073.5034  83949974428.7892   113891596672.98  112015603087.784
3      24707369756.9292  24680105650.9995  24686823840.9395   24824788263.205
4      647837035.071691  774267227.196942  923062855.463203               NaN
...                 ...               ...               ...               ...
97899  2158018067.57023  6577406147.59673  42742655184.5933  98888054506.3303
97900               NaN               NaN               NaN               NaN
97901               NaN               NaN               NaN               NaN
97902               NaN               NaN               NaN               NaN
97903               NaN               NaN               NaN               NaN

                   2022              2023 2024 Base Year Unnamed: 111
0      92.3381209145264  102.343515593608  NaN       NaN          NaN
1      72.3922554138843  78.0558372161119  NaN       NaN          NaN
2       112934663160.78  106272429524.781  NaN       NaN          NaN
3       24812821796.455   24938530806.455  NaN       NaN          NaN
4                   NaN               NaN  NaN       NaN          NaN
...                 ...               ...  ...       ...          ...
97899  412152188700.442               NaN  NaN       NaN          NaN
97900  8.18311547054968               NaN  NaN       NaN          NaN
97901  6.27882599580713               NaN  NaN       NaN          NaN
97902  8.18311547054968               NaN  NaN       NaN          NaN
97903  6.27882599580713               NaN  NaN       NaN          NaN

[97466 rows x 112 columns]

In [77]:
#2. Filter the dataset to include only countries with a count of 14 or more entries.
filtered_countries = new_countries.groupby('Country Name').filter(lambda x: len(x) >= 14)
print(filtered_countries)

                       Country Name Country Code  \
0                           Algeria          612
1                           Algeria          612
2                Advanced Economies          110
3                Advanced Economies          110
4      Afghanistan, Islamic Rep. of          512
...                             ...          ...
97899                      Zimbabwe          698
97900                      Zimbabwe          698
97901                      Zimbabwe          698
97902                      Zimbabwe          698
97903                      Zimbabwe          698

                                          Indicator Name    Indicator Code  \
0      Exchange Rates, Real Effective Exchange Rate b...          EREER_IX
1      Exchange Rates, Nominal Effective Exchange Rat...          ENEER_IX
2      International Reserves, Official Reserve Asset...       RAFAIMF_USD
3      International Reserves, Official Reserve Asset...      RAFAGOLD_XDR
4      International Reserves, Official Reserve Asset...     RAFAGOLDM_XDR
...                                                  ...               ...
97899  Changes in Inventories, Nominal, Domestic Curr...          NINV_XDC
97900  Unemployment, Persons, Percentage change, corr...  LU_PE_PC_CP_A_PT
97901  Labor Markets, Unemployment Rate, Percentage c...      LUR_PC_PP_PT
97902  Unemployment, Persons, Percentage change, prev...    LU_PE_PC_PP_PT
97903  Labor Markets, Unemployment Rate, Percentage c...    LUR_PC_CP_A_PT

      Attribute 1920 1921 1922 1923 1924  ...              2017  \
0         Value  NaN  NaN  NaN  NaN  NaN  ...    97.80447564541
1         Value  NaN  NaN  NaN  NaN  NaN  ...    80.60906091814
2         Value  NaN  NaN  NaN  NaN  NaN  ...  63547545981.7339
3         Value  NaN  NaN  NaN  NaN  NaN  ...  24716947436.9292
4         Value  NaN  NaN  NaN  NaN  NaN  ...  640000000.456685
...         ...  ...  ...  ...  ...  ...  ...               ...
97899     Value  NaN  NaN  NaN  NaN  NaN  ...  2114365890.82181
97900     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97901     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97902     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97903     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN

                   2018              2019              2020              2021  \
0      93.5157489171034  95.4487592754358  91.2229082196299  86.8016646784102
1      76.0965652454904  78.1204242756082  74.2962700990688  68.1517784189964
2      76857410073.5034  83949974428.7892   113891596672.98  112015603087.784
3      24707369756.9292  24680105650.9995  24686823840.9395   24824788263.205
4      647837035.071691  774267227.196942  923062855.463203               NaN
...                 ...               ...               ...               ...
97899  2158018067.57023  6577406147.59673  42742655184.5933  98888054506.3303
97900               NaN               NaN               NaN               NaN
97901               NaN               NaN               NaN               NaN
97902               NaN               NaN               NaN               NaN
97903               NaN               NaN               NaN               NaN

                   2022              2023 2024 Base Year Unnamed: 111
0      92.3381209145264  102.343515593608  NaN       NaN          NaN
1      72.3922554138843  78.0558372161119  NaN       NaN          NaN
2       112934663160.78  106272429524.781  NaN       NaN          NaN
3       24812821796.455   24938530806.455  NaN       NaN          NaN
4                   NaN               NaN  NaN       NaN          NaN
...                 ...               ...  ...       ...          ...
97899  412152188700.442               NaN  NaN       NaN          NaN
97900  8.18311547054968               NaN  NaN       NaN          NaN
97901  6.27882599580713               NaN  NaN       NaN          NaN
97902  8.18311547054968               NaN  NaN       NaN          NaN
97903  6.27882599580713               NaN  NaN       NaN          NaN

[97466 rows x 112 columns]

In [85]:
#3. Remove the columns "Attribute", "count", and "Indicator Name" from the dataset.
cleaned_data = filtered_countries.drop(columns=['Attribute', 'Indicator Name'])
print(cleaned_data)

                       Country Name Country Code    Indicator Code 1920 1921  \
0                           Algeria          612          EREER_IX  NaN  NaN
1                           Algeria          612          ENEER_IX  NaN  NaN
2                Advanced Economies          110       RAFAIMF_USD  NaN  NaN
3                Advanced Economies          110      RAFAGOLD_XDR  NaN  NaN
4      Afghanistan, Islamic Rep. of          512     RAFAGOLDM_XDR  NaN  NaN
...                             ...          ...               ...  ...  ...
97899                      Zimbabwe          698          NINV_XDC  NaN  NaN
97900                      Zimbabwe          698  LU_PE_PC_CP_A_PT  NaN  NaN
97901                      Zimbabwe          698      LUR_PC_PP_PT  NaN  NaN
97902                      Zimbabwe          698    LU_PE_PC_PP_PT  NaN  NaN
97903                      Zimbabwe          698    LUR_PC_CP_A_PT  NaN  NaN

      1922 1923 1924 1925 1926  ...              2017              2018  \
0      NaN  NaN  NaN  NaN  NaN  ...    97.80447564541  93.5157489171034
1      NaN  NaN  NaN  NaN  NaN  ...    80.60906091814  76.0965652454904
2      NaN  NaN  NaN  NaN  NaN  ...  63547545981.7339  76857410073.5034
3      NaN  NaN  NaN  NaN  NaN  ...  24716947436.9292  24707369756.9292
4      NaN  NaN  NaN  NaN  NaN  ...  640000000.456685  647837035.071691
...    ...  ...  ...  ...  ...  ...               ...               ...
97899  NaN  NaN  NaN  NaN  NaN  ...  2114365890.82181  2158018067.57023
97900  NaN  NaN  NaN  NaN  NaN  ...               NaN               NaN
97901  NaN  NaN  NaN  NaN  NaN  ...               NaN               NaN
97902  NaN  NaN  NaN  NaN  NaN  ...               NaN               NaN
97903  NaN  NaN  NaN  NaN  NaN  ...               NaN               NaN

                   2019              2020              2021              2022  \
0      95.4487592754358  91.2229082196299  86.8016646784102  92.3381209145264
1      78.1204242756082  74.2962700990688  68.1517784189964  72.3922554138843
2      83949974428.7892   113891596672.98  112015603087.784   112934663160.78
3      24680105650.9995  24686823840.9395   24824788263.205   24812821796.455
4      774267227.196942  923062855.463203               NaN               NaN
...                 ...               ...               ...               ...
97899  6577406147.59673  42742655184.5933  98888054506.3303  412152188700.442
97900               NaN               NaN               NaN  8.18311547054968
97901               NaN               NaN               NaN  6.27882599580713
97902               NaN               NaN               NaN  8.18311547054968
97903               NaN               NaN               NaN  6.27882599580713

                   2023 2024 Base Year Unnamed: 111
0      102.343515593608  NaN       NaN          NaN
1      78.0558372161119  NaN       NaN          NaN
2      106272429524.781  NaN       NaN          NaN
3       24938530806.455  NaN       NaN          NaN
4                   NaN  NaN       NaN          NaN
...                 ...  ...       ...          ...
97899               NaN  NaN       NaN          NaN
97900               NaN  NaN       NaN          NaN
97901               NaN  NaN       NaN          NaN
97902               NaN  NaN       NaN          NaN
97903               NaN  NaN       NaN          NaN

[97466 rows x 110 columns]

In [99]:
#Question 7:
#It is now preferable to reshape the data from wide to long form so that:
#1. The years are organized under a new column named "Year".
#2. The values are organized under a new column named "Value".
#3. Your DataFrame will now have the following four columns: "Country Name", "Indicator Code", "Year", and "Value".

year_columns = [str(year) for year in range(2010, 2024)]  
long_form_data = cleaned_data.melt(id_vars=['Country Name', 'Indicator Code'], 
                                     value_vars=year_columns, 
                                     var_name='Year', 
                                     value_name='Value')
print(long_form_data)

                         Country Name    Indicator Code  Year  \
0                             Algeria          EREER_IX  2010
1                             Algeria          ENEER_IX  2010
2                  Advanced Economies       RAFAIMF_USD  2010
3                  Advanced Economies      RAFAGOLD_XDR  2010
4        Afghanistan, Islamic Rep. of     RAFAGOLDM_XDR  2010
...                               ...               ...   ...
1364519                      Zimbabwe          NINV_XDC  2023
1364520                      Zimbabwe  LU_PE_PC_CP_A_PT  2023
1364521                      Zimbabwe      LUR_PC_PP_PT  2023
1364522                      Zimbabwe    LU_PE_PC_PP_PT  2023
1364523                      Zimbabwe    LUR_PC_CP_A_PT  2023

                    Value
0                     100
1                     100
2        62089729047.8275
3        24657441382.0644
4        641591660.944801
...                   ...
1364519               NaN
1364520               NaN
1364521               NaN
1364522               NaN
1364523               NaN

[1364524 rows x 4 columns]

In [105]:
#5. Convert the "Value" into float64 data type
#6. print data types of all four columns and confirm
print(long_form_data['Value'].unique())
long_form_data['Value'] = pd.to_numeric(long_form_data['Value'], errors='coerce')
print(long_form_data)

['100' '62089729047.8275' '24657441382.0644' ... '62.8208333333333'
 '9214000000' '7225000000']
                         Country Name    Indicator Code  Year         Value
0                             Algeria          EREER_IX  2010  1.000000e+02
1                             Algeria          ENEER_IX  2010  1.000000e+02
2                  Advanced Economies       RAFAIMF_USD  2010  6.208973e+10
3                  Advanced Economies      RAFAGOLD_XDR  2010  2.465744e+10
4        Afghanistan, Islamic Rep. of     RAFAGOLDM_XDR  2010  6.415917e+08
...                               ...               ...   ...           ...
1364519                      Zimbabwe          NINV_XDC  2023           NaN
1364520                      Zimbabwe  LU_PE_PC_CP_A_PT  2023           NaN
1364521                      Zimbabwe      LUR_PC_PP_PT  2023           NaN
1364522                      Zimbabwe    LU_PE_PC_PP_PT  2023           NaN
1364523                      Zimbabwe    LUR_PC_CP_A_PT  2023           NaN

[1364524 rows x 4 columns]

In [123]:
#Question 8: Now again reshape the data from long to wide so that:
#1. Each unique indicators from column "Indicator Code" become separate columns.
#2. The values are organized under these columns.
wide_form_data = long_form_data.pivot_table(index=['Country Name', 'Year'], 
                                             columns='Indicator Code', 
                                             values='Value')
wide_form_data.reset_index(inplace=True)
print(wide_form_data)

Indicator Code        Country Name  Year  10RA__XDC  11____EUR  11____USD  \
0               Advanced Economies  2010        NaN        NaN        NaN
1               Advanced Economies  2011        NaN        NaN        NaN
2               Advanced Economies  2012        NaN        NaN        NaN
3               Advanced Economies  2013        NaN        NaN        NaN
4               Advanced Economies  2014        NaN        NaN        NaN
...                            ...   ...        ...        ...        ...
3103                      Zimbabwe  2019        NaN        NaN        NaN
3104                      Zimbabwe  2020        NaN        NaN        NaN
3105                      Zimbabwe  2021        NaN        NaN        NaN
3106                      Zimbabwe  2022        NaN        NaN        NaN
3107                      Zimbabwe  2023        NaN        NaN        NaN

Indicator Code  11____XDC  12AN__XDC  12A___EUR  12A___XDC  12BX__XDC  ...  \
0                     NaN        NaN        NaN        NaN        NaN  ...
1                     NaN        NaN        NaN        NaN        NaN  ...
2                     NaN        NaN        NaN        NaN        NaN  ...
3                     NaN        NaN        NaN        NaN        NaN  ...
4                     NaN        NaN        NaN        NaN        NaN  ...
...                   ...        ...        ...        ...        ...  ...
3103                  NaN        NaN        NaN        NaN        NaN  ...
3104                  NaN        NaN        NaN        NaN        NaN  ...
3105                  NaN        NaN        NaN        NaN        NaN  ...
3106                  NaN        NaN        NaN        NaN        NaN  ...
3107                  NaN        NaN        NaN        NaN        NaN  ...

Indicator Code  TXG_R_FOB_PC_CP_A_PT  TXG_R_FOB_PC_PP_PT  _3__D_USD  \
0                                NaN                 NaN        NaN
1                                NaN                 NaN        NaN
2                                NaN                 NaN        NaN
3                                NaN                 NaN        NaN
4                                NaN                 NaN        NaN
...                              ...                 ...        ...
3103                             NaN                 NaN        NaN
3104                             NaN                 NaN        NaN
3105                             NaN                 NaN        NaN
3106                             NaN                 NaN        NaN
3107                             NaN                 NaN        NaN

Indicator Code  _4__D_USD  _7A_D_USD  _7B_D_USD  _7E_D_USD  _7F_D_USD  \
0                     NaN        NaN        NaN        NaN        NaN
1                     NaN        NaN        NaN        NaN        NaN
2                     NaN        NaN        NaN        NaN        NaN
3                     NaN        NaN        NaN        NaN        NaN
4                     NaN        NaN        NaN        NaN        NaN
...                   ...        ...        ...        ...        ...
3103                  NaN        NaN        NaN        NaN        NaN
3104                  NaN        NaN        NaN        NaN        NaN
3105                  NaN        NaN        NaN        NaN        NaN
3106                  NaN        NaN        NaN        NaN        NaN
3107                  NaN        NaN        NaN        NaN        NaN

Indicator Code  _7K_D_USD  _7M_D_USD
0                     NaN        NaN
1                     NaN        NaN
2                     NaN        NaN
3                     NaN        NaN
4                     NaN        NaN
...                   ...        ...
3103                  NaN        NaN
3104                  NaN        NaN
3105                  NaN        NaN
3106                  NaN        NaN
3107                  NaN        NaN

[3108 rows x 1408 columns]

In [127]:
#3. Your DataFrame will now have the following 18 columns: "Country Name", , "Year", and N, N1, N2, N3, N4, N5, N6, N7, R, R1, R2, R3, R4, R5, R6, R7. "Refer to Table 1 for
#details about the abbreviations."
#4. Order the columns as written in 3 above.

indicator_mapping = {
    'NGDP_XDC': 'N',
    'NCP_XDC': 'N1',
    'NCGG_XDC': 'N2',
    'NFI_XDC': 'N3',
    'NINV_XDC': 'N4',
    'NX_XDC': 'N5',
    'NM_XDC': 'N6',
    'NGDP_R_XDC': 'R',
    'NCP_R_XDC': 'R1',
    'NCGG_R_XDC': 'R2',
    'NFI_R_XDC': 'R3',
    'NINV_R_XDC': 'R4',
    'NX_R_XDC': 'R5',
    'NM_R_XDC': 'R6',
    'NSDGDP_XDC': 'N7',
    'NSDGDP_R_XDC': 'R7' 
}
wide_form_data.rename(columns=indicator_mapping, inplace=True)
desired_columns = ['Country Name', 'Year', 'N', 'N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'R', 'R1', 'R2', 'R3', 'R4', 'R5', 'R6', 'R7']
wide_form_data = wide_form_data[desired_columns]
print(wide_form_data)

Indicator Code        Country Name  Year             N            N1  \
0               Advanced Economies  2010           NaN           NaN
1               Advanced Economies  2011           NaN           NaN
2               Advanced Economies  2012           NaN           NaN
3               Advanced Economies  2013           NaN           NaN
4               Advanced Economies  2014           NaN           NaN
...                            ...   ...           ...           ...
3103                      Zimbabwe  2019  2.121744e+11  1.638456e+11
3104                      Zimbabwe  2020  1.378795e+12  1.114102e+12
3105                      Zimbabwe  2021  3.189937e+12  2.394826e+12
3106                      Zimbabwe  2022  1.242816e+13  9.625377e+12
3107                      Zimbabwe  2023           NaN           NaN

Indicator Code            N2            N3            N4            N5  \
0                        NaN           NaN           NaN           NaN
1                        NaN           NaN           NaN           NaN
2                        NaN           NaN           NaN           NaN
3                        NaN           NaN           NaN           NaN
4                        NaN           NaN           NaN           NaN
...                      ...           ...           ...           ...
3103            1.557182e+10  2.270128e+10  6.577406e+09  5.763390e+10
3104            1.222696e+11  1.385149e+11  4.274266e+10  3.573426e+11
3105            4.758080e+11  3.955358e+11  9.888805e+10  8.106092e+11
3106            2.068350e+12  1.442955e+12  4.121522e+11  3.463218e+12
3107                     NaN           NaN           NaN           NaN

Indicator Code            N6  N7             R            R1            R2  \
0                        NaN NaN           NaN           NaN           NaN
1                        NaN NaN           NaN           NaN           NaN
2                        NaN NaN           NaN           NaN           NaN
3                        NaN NaN           NaN           NaN           NaN
4                        NaN NaN           NaN           NaN           NaN
...                      ...  ..           ...           ...           ...
3103            5.415563e+10 NaN  2.121744e+11  1.638456e+11  1.557182e+10
3104            3.961768e+11 NaN  1.955888e+11  1.593987e+11  1.187219e+10
3105            9.857300e+11 NaN  2.121513e+11  1.669538e+11  2.874271e+10
3106            4.583895e+12 NaN  2.250758e+11  1.755852e+11  3.773062e+10
3107                     NaN NaN           NaN           NaN           NaN

Indicator Code            R3            R4            R5            R6  R7
0                        NaN           NaN           NaN           NaN NaN
1                        NaN           NaN           NaN           NaN NaN
2                        NaN           NaN           NaN           NaN NaN
3                        NaN           NaN           NaN           NaN NaN
4                        NaN           NaN           NaN           NaN NaN
...                      ...           ...           ...           ...  ..
3103            2.270128e+10  6.577406e+09  5.763390e+10  5.415563e+10 NaN
3104            2.075759e+10  7.331070e+09  3.469744e+10  3.846818e+10 NaN
3105            2.093225e+10  6.101275e+09  4.896746e+10  5.954619e+10 NaN
3106            2.468490e+10  7.518438e+09  6.317568e+10  8.361894e+10 NaN
3107                     NaN           NaN           NaN           NaN NaN

[3108 rows x 18 columns]

In [133]:
#Question 9: Replace all NA values with 0 in the 16 columns of data type float64 in the dataset.
wide_form_data.fillna(0, inplace=True)
print(wide_form_data)

Indicator Code        Country Name  Year             N            N1  \
0               Advanced Economies  2010  0.000000e+00  0.000000e+00
1               Advanced Economies  2011  0.000000e+00  0.000000e+00
2               Advanced Economies  2012  0.000000e+00  0.000000e+00
3               Advanced Economies  2013  0.000000e+00  0.000000e+00
4               Advanced Economies  2014  0.000000e+00  0.000000e+00
...                            ...   ...           ...           ...
3103                      Zimbabwe  2019  2.121744e+11  1.638456e+11
3104                      Zimbabwe  2020  1.378795e+12  1.114102e+12
3105                      Zimbabwe  2021  3.189937e+12  2.394826e+12
3106                      Zimbabwe  2022  1.242816e+13  9.625377e+12
3107                      Zimbabwe  2023  0.000000e+00  0.000000e+00

Indicator Code            N2            N3            N4            N5  \
0               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
1               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
2               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
3               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
4               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                      ...           ...           ...           ...
3103            1.557182e+10  2.270128e+10  6.577406e+09  5.763390e+10
3104            1.222696e+11  1.385149e+11  4.274266e+10  3.573426e+11
3105            4.758080e+11  3.955358e+11  9.888805e+10  8.106092e+11
3106            2.068350e+12  1.442955e+12  4.121522e+11  3.463218e+12
3107            0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

Indicator Code            N6   N7             R            R1            R2  \
0               0.000000e+00  0.0  0.000000e+00  0.000000e+00  0.000000e+00
1               0.000000e+00  0.0  0.000000e+00  0.000000e+00  0.000000e+00
2               0.000000e+00  0.0  0.000000e+00  0.000000e+00  0.000000e+00
3               0.000000e+00  0.0  0.000000e+00  0.000000e+00  0.000000e+00
4               0.000000e+00  0.0  0.000000e+00  0.000000e+00  0.000000e+00
...                      ...  ...           ...           ...           ...
3103            5.415563e+10  0.0  2.121744e+11  1.638456e+11  1.557182e+10
3104            3.961768e+11  0.0  1.955888e+11  1.593987e+11  1.187219e+10
3105            9.857300e+11  0.0  2.121513e+11  1.669538e+11  2.874271e+10
3106            4.583895e+12  0.0  2.250758e+11  1.755852e+11  3.773062e+10
3107            0.000000e+00  0.0  0.000000e+00  0.000000e+00  0.000000e+00

Indicator Code            R3            R4            R5            R6   R7
0               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0
1               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0
2               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0
3               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0
4               0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0
...                      ...           ...           ...           ...  ...
3103            2.270128e+10  6.577406e+09  5.763390e+10  5.415563e+10  0.0
3104            2.075759e+10  7.331070e+09  3.469744e+10  3.846818e+10  0.0
3105            2.093225e+10  6.101275e+09  4.896746e+10  5.954619e+10  0.0
3106            2.468490e+10  7.518438e+09  6.317568e+10  8.361894e+10  0.0
3107            0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0

[3108 rows x 18 columns]

In [139]:
#Question 10: "Refer to Table 1 for details about the abbreviations." and
#1. Calculate Equation 7,Equation 8, and Equation 9
#Equation 7: Nominal_GDP = (N1 + N2 + N3 + N4) + (N5 − N6) + N7
wide_form_data['Nominal_GDP'] = (
    wide_form_data[['N1', 'N2', 'N3', 'N4']].sum(axis=1) + 
    (wide_form_data['N5'] - wide_form_data['N6']) + 
    wide_form_data['N7']
)
print(wide_form_data[['Country Name', 'Year', 'Nominal_GDP']])

#Equation 8: Nominal_GDP_DIFF = N − Nominal_GDP
wide_form_data['Nominal_GDP_DIFF'] = wide_form_data['N'] - wide_form_data['Nominal_GDP']
print(wide_form_data[['Country Name', 'Year', 'Nominal_GDP', 'Nominal_GDP_DIFF']])

#Equation 9: Nominal_GDP_PERC_SD = (Nominal_GDP_DIFF/N)*100
wide_form_data['Nominal_GDP_PERC_SD'] = (wide_form_data['Nominal_GDP_DIFF'] / wide_form_data['N']) * 100
print(wide_form_data[['Country Name', 'Year', 'Nominal_GDP', 'Nominal_GDP_DIFF', 'Nominal_GDP_PERC_SD']])

Indicator Code        Country Name  Year   Nominal_GDP
0               Advanced Economies  2010  0.000000e+00
1               Advanced Economies  2011  0.000000e+00
2               Advanced Economies  2012  0.000000e+00
3               Advanced Economies  2013  0.000000e+00
4               Advanced Economies  2014  0.000000e+00
...                            ...   ...           ...
3103                      Zimbabwe  2019  2.121744e+11
3104                      Zimbabwe  2020  1.378795e+12
3105                      Zimbabwe  2021  3.189937e+12
3106                      Zimbabwe  2022  1.242816e+13
3107                      Zimbabwe  2023  0.000000e+00

[3108 rows x 3 columns]
Indicator Code        Country Name  Year   Nominal_GDP  Nominal_GDP_DIFF
0               Advanced Economies  2010  0.000000e+00          0.000000
1               Advanced Economies  2011  0.000000e+00          0.000000
2               Advanced Economies  2012  0.000000e+00          0.000000
3               Advanced Economies  2013  0.000000e+00          0.000000
4               Advanced Economies  2014  0.000000e+00          0.000000
...                            ...   ...           ...               ...
3103                      Zimbabwe  2019  2.121744e+11          0.000092
3104                      Zimbabwe  2020  1.378795e+12         -0.002197
3105                      Zimbabwe  2021  3.189937e+12          0.002441
3106                      Zimbabwe  2022  1.242816e+13         -0.019531
3107                      Zimbabwe  2023  0.000000e+00          0.000000

[3108 rows x 4 columns]
Indicator Code        Country Name  Year   Nominal_GDP  Nominal_GDP_DIFF  \
0               Advanced Economies  2010  0.000000e+00          0.000000
1               Advanced Economies  2011  0.000000e+00          0.000000
2               Advanced Economies  2012  0.000000e+00          0.000000
3               Advanced Economies  2013  0.000000e+00          0.000000
4               Advanced Economies  2014  0.000000e+00          0.000000
...                            ...   ...           ...               ...
3103                      Zimbabwe  2019  2.121744e+11          0.000092
3104                      Zimbabwe  2020  1.378795e+12         -0.002197
3105                      Zimbabwe  2021  3.189937e+12          0.002441
3106                      Zimbabwe  2022  1.242816e+13         -0.019531
3107                      Zimbabwe  2023  0.000000e+00          0.000000

Indicator Code  Nominal_GDP_PERC_SD
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
3103                   4.314976e-14
3104                  -1.593613e-13
3105                   7.653462e-14
3106                  -1.571532e-13
3107                            NaN

[3108 rows x 5 columns]

In [145]:
#Question 10:
#2. Calculate Equation 10,Equation 11, and Equation 12
#Equation 10: Real_GDP = (R1 + R2 + R3 + R4) + (R5 − R6) + R7
wide_form_data['Real_GDP'] = (
    wide_form_data[['R1', 'R2', 'R3', 'R4']].sum(axis=1) + 
    (wide_form_data['R5'] - wide_form_data['R6']) + 
    wide_form_data['R7']
)
print(wide_form_data[['Country Name', 'Year', 'Real_GDP']])

#Equation 11: Real_GDP_DIFF = R − Real_GDP
wide_form_data['Real_GDP_DIFF'] = wide_form_data['R'] - wide_form_data['Real_GDP']
print(wide_form_data[['Country Name', 'Year', 'Real_GDP', 'Real_GDP_DIFF']])

#Equation 12: Real_GDP_PERC_SD = (Real_GDP_DIFF/R)*100
wide_form_data['Real_GDP_PERC_SD'] = (wide_form_data['Real_GDP_DIFF'] / wide_form_data['R']) * 100
print(wide_form_data[['Country Name', 'Year', 'Real_GDP', 'Real_GDP_DIFF', 'Real_GDP_PERC_SD']])

Indicator Code        Country Name  Year      Real_GDP
0               Advanced Economies  2010  0.000000e+00
1               Advanced Economies  2011  0.000000e+00
2               Advanced Economies  2012  0.000000e+00
3               Advanced Economies  2013  0.000000e+00
4               Advanced Economies  2014  0.000000e+00
...                            ...   ...           ...
3103                      Zimbabwe  2019  2.121744e+11
3104                      Zimbabwe  2020  1.955888e+11
3105                      Zimbabwe  2021  2.121513e+11
3106                      Zimbabwe  2022  2.250758e+11
3107                      Zimbabwe  2023  0.000000e+00

[3108 rows x 3 columns]
Indicator Code        Country Name  Year      Real_GDP  Real_GDP_DIFF
0               Advanced Economies  2010  0.000000e+00       0.000000
1               Advanced Economies  2011  0.000000e+00       0.000000
2               Advanced Economies  2012  0.000000e+00       0.000000
3               Advanced Economies  2013  0.000000e+00       0.000000
4               Advanced Economies  2014  0.000000e+00       0.000000
...                            ...   ...           ...            ...
3103                      Zimbabwe  2019  2.121744e+11       0.000092
3104                      Zimbabwe  2020  1.955888e+11       0.000488
3105                      Zimbabwe  2021  2.121513e+11      -0.000061
3106                      Zimbabwe  2022  2.250758e+11       0.000336
3107                      Zimbabwe  2023  0.000000e+00       0.000000

[3108 rows x 4 columns]
Indicator Code        Country Name  Year      Real_GDP  Real_GDP_DIFF  \
0               Advanced Economies  2010  0.000000e+00       0.000000
1               Advanced Economies  2011  0.000000e+00       0.000000
2               Advanced Economies  2012  0.000000e+00       0.000000
3               Advanced Economies  2013  0.000000e+00       0.000000
4               Advanced Economies  2014  0.000000e+00       0.000000
...                            ...   ...           ...            ...
3103                      Zimbabwe  2019  2.121744e+11       0.000092
3104                      Zimbabwe  2020  1.955888e+11       0.000488
3105                      Zimbabwe  2021  2.121513e+11      -0.000061
3106                      Zimbabwe  2022  2.250758e+11       0.000336
3107                      Zimbabwe  2023  0.000000e+00       0.000000

Indicator Code  Real_GDP_PERC_SD
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
...                          ...
3103                4.314976e-14
3104                2.496468e-13
3105               -2.876963e-14
3106                1.491468e-13
3107                         NaN

[3108 rows x 5 columns]

In [151]:
#Question 11: 
#1. Drop NAs from dataframe
wide_form_data.dropna(inplace=True)
print(wide_form_data)

#2. Filter if both "Real_GDP_PERC_SD" and "Nominal_GDP_PERC_SD" are not in range as specified in Equation 6 i.e. in between -1% to 1% inclusive.
filtered_data_new = wide_form_data[
    (wide_form_data['Real_GDP_PERC_SD'] < -1) | 
    (wide_form_data['Real_GDP_PERC_SD'] > 1) |
    (wide_form_data['Nominal_GDP_PERC_SD'] < -1) | 
    (wide_form_data['Nominal_GDP_PERC_SD'] > 1)
]
print(filtered_data_new)

Indicator Code                  Country Name  Year             N  \
23              Afghanistan, Islamic Rep. of  2019  1.505967e+12
24              Afghanistan, Islamic Rep. of  2020  1.534966e+12
25              Afghanistan, Islamic Rep. of  2021  1.251172e+12
28                                   Albania  2010  1.239645e+12
29                                   Albania  2011  1.300624e+12
...                                      ...   ...           ...
3102                                Zimbabwe  2018  6.961349e+10
3103                                Zimbabwe  2019  2.121744e+11
3104                                Zimbabwe  2020  1.378795e+12
3105                                Zimbabwe  2021  3.189937e+12
3106                                Zimbabwe  2022  1.242816e+13

Indicator Code            N1            N2            N3            N4  \
23              0.000000e+00  3.234784e+11  0.000000e+00  0.000000e+00
24              0.000000e+00  3.393690e+11  0.000000e+00  0.000000e+00
25              0.000000e+00  2.660288e+11  0.000000e+00  0.000000e+00
28              9.682785e+11  1.383117e+11  3.524121e+11  2.330778e+10
29              1.018381e+12  1.427326e+11  3.819443e+11  2.662831e+10
...                      ...           ...           ...           ...
3102            5.408948e+10  7.221916e+09  7.691111e+09  2.158018e+09
3103            1.638456e+11  1.557182e+10  2.270128e+10  6.577406e+09
3104            1.114102e+12  1.222696e+11  1.385149e+11  4.274266e+10
3105            2.394826e+12  4.758080e+11  3.955358e+11  9.888805e+10
3106            9.625377e+12  2.068350e+12  1.442955e+12  4.121522e+11

Indicator Code            N5            N6   N7  ...            R4  \
23              1.847309e+11  5.301166e+11  0.0  ...  0.000000e+00
24              1.599560e+11  5.570250e+11  0.0  ...  0.000000e+00
25              1.794454e+11  4.638042e+11  0.0  ...  0.000000e+00
28              3.468457e+11  6.020206e+11  0.0  ...  2.330800e+10
29              3.803225e+11  6.760257e+11  0.0  ...  2.587300e+10
...                      ...           ...  ...  ...           ...
3102            1.821365e+10  1.976069e+10  0.0  ...  7.342306e+09
3103            5.763390e+10  5.415563e+10  0.0  ...  6.577406e+09
3104            3.573426e+11  3.961768e+11  0.0  ...  7.331070e+09
3105            8.106092e+11  9.857300e+11  0.0  ...  6.101275e+09
3106            3.463218e+12  4.583895e+12  0.0  ...  7.518438e+09

Indicator Code            R5            R6   R7   Nominal_GDP  \
23              1.862634e+11  5.107402e+11  0.0 -2.190729e+10
24              1.607406e+11  5.130611e+11  0.0 -5.770002e+10
25              1.723843e+11  4.040044e+11  0.0 -1.832995e+10
28              3.468457e+11  6.020206e+11  0.0  1.227135e+12
29              3.699945e+11  6.392633e+11  0.0  1.273983e+12
...                      ...           ...  ...           ...
3102            5.133275e+10  5.531567e+10  0.0  6.961349e+10
3103            5.763390e+10  5.415563e+10  0.0  2.121744e+11
3104            3.469744e+10  3.846818e+10  0.0  1.378795e+12
3105            4.896746e+10  5.954619e+10  0.0  3.189937e+12
3106            6.317568e+10  8.361894e+10  0.0  1.242816e+13

Indicator Code  Nominal_GDP_DIFF  Nominal_GDP_PERC_SD      Real_GDP  \
23                  1.527875e+12         1.014547e+02 -2.369638e+10
24                  1.592666e+12         1.037590e+02 -5.300678e+10
25                  1.269502e+12         1.014650e+02 -8.406916e+09
28                  1.250950e+10         1.009120e+00  1.227136e+12
29                  2.664093e+10         2.048319e+00  1.254603e+12
...                          ...                  ...           ...
3102                1.525879e-05         2.191930e-14  2.265186e+11
3103                9.155273e-05         4.314976e-14  2.121744e+11
3104               -2.197266e-03        -1.593613e-13  1.955888e+11
3105                2.441406e-03         7.653462e-14  2.121513e+11
3106               -1.953125e-02        -1.571532e-13  2.250758e+11

Indicator Code  Real_GDP_DIFF  Real_GDP_PERC_SD
23               1.442578e+12      1.016701e+02
24               1.442646e+12      1.038144e+02
25               1.109851e+12      1.007633e+02
28               1.250856e+10      1.009044e+00
29               1.659573e+10      1.305518e+00
...                       ...               ...
3102            -6.103516e-05     -2.694488e-14
3103             9.155273e-05      4.314976e-14
3104             4.882812e-04      2.496468e-13
3105            -6.103516e-05     -2.876963e-14
3106             3.356934e-04      1.491468e-13

[2281 rows x 24 columns]
Indicator Code                  Country Name  Year             N  \
23              Afghanistan, Islamic Rep. of  2019  1.505967e+12
24              Afghanistan, Islamic Rep. of  2020  1.534966e+12
25              Afghanistan, Islamic Rep. of  2021  1.251172e+12
28                                   Albania  2010  1.239645e+12
29                                   Albania  2011  1.300624e+12
...                                      ...   ...           ...
3072                          Yemen, Rep. of  2016  8.891000e+12
3073                          Yemen, Rep. of  2017  1.000600e+13
3074                          Yemen, Rep. of  2018  1.157873e+13
3075                          Yemen, Rep. of  2019  1.260626e+13
3076                          Yemen, Rep. of  2020  1.502343e+13

Indicator Code            N1            N2            N3            N4  \
23              0.000000e+00  3.234784e+11  0.000000e+00  0.000000e+00
24              0.000000e+00  3.393690e+11  0.000000e+00  0.000000e+00
25              0.000000e+00  2.660288e+11  0.000000e+00  0.000000e+00
28              9.682785e+11  1.383117e+11  3.524121e+11  2.330778e+10
29              1.018381e+12  1.427326e+11  3.819443e+11  2.662831e+10
...                      ...           ...           ...           ...
3072            0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
3073            0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
3074            0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
3075            0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
3076            0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

Indicator Code            N5            N6   N7  ...            R4  \
23              1.847309e+11  5.301166e+11  0.0  ...  0.000000e+00
24              1.599560e+11  5.570250e+11  0.0  ...  0.000000e+00
25              1.794454e+11  4.638042e+11  0.0  ...  0.000000e+00
28              3.468457e+11  6.020206e+11  0.0  ...  2.330800e+10
29              3.803225e+11  6.760257e+11  0.0  ...  2.587300e+10
...                      ...           ...  ...  ...           ...
3072            0.000000e+00  0.000000e+00  0.0  ...  0.000000e+00
3073            0.000000e+00  0.000000e+00  0.0  ...  0.000000e+00
3074            0.000000e+00  0.000000e+00  0.0  ...  0.000000e+00
3075            0.000000e+00  0.000000e+00  0.0  ...  0.000000e+00
3076            0.000000e+00  0.000000e+00  0.0  ...  0.000000e+00

Indicator Code            R5            R6   R7   Nominal_GDP  \
23              1.862634e+11  5.107402e+11  0.0 -2.190729e+10
24              1.607406e+11  5.130611e+11  0.0 -5.770002e+10
25              1.723843e+11  4.040044e+11  0.0 -1.832995e+10
28              3.468457e+11  6.020206e+11  0.0  1.227135e+12
29              3.699945e+11  6.392633e+11  0.0  1.273983e+12
...                      ...           ...  ...           ...
3072            0.000000e+00  0.000000e+00  0.0  0.000000e+00
3073            0.000000e+00  0.000000e+00  0.0  0.000000e+00
3074            0.000000e+00  0.000000e+00  0.0  0.000000e+00
3075            0.000000e+00  0.000000e+00  0.0  0.000000e+00
3076            0.000000e+00  0.000000e+00  0.0  0.000000e+00

Indicator Code  Nominal_GDP_DIFF  Nominal_GDP_PERC_SD      Real_GDP  \
23                  1.527875e+12           101.454699 -2.369638e+10
24                  1.592666e+12           103.759043 -5.300678e+10
25                  1.269502e+12           101.465023 -8.406916e+09
28                  1.250950e+10             1.009120  1.227136e+12
29                  2.664093e+10             2.048319  1.254603e+12
...                          ...                  ...           ...
3072                8.891000e+12           100.000000  0.000000e+00
3073                1.000600e+13           100.000000  0.000000e+00
3074                1.157873e+13           100.000000  0.000000e+00
3075                1.260626e+13           100.000000  0.000000e+00
3076                1.502343e+13           100.000000  0.000000e+00

Indicator Code  Real_GDP_DIFF  Real_GDP_PERC_SD
23               1.442578e+12        101.670074
24               1.442646e+12        103.814427
25               1.109851e+12        100.763263
28               1.250856e+10          1.009044
29               1.659573e+10          1.305518
...                       ...               ...
3072             2.379525e+11        100.000000
3073             2.258841e+11        100.000000
3074             2.275837e+11        100.000000
3075             2.307699e+11        100.000000
3076             2.111544e+11        100.000000

[907 rows x 24 columns]

In [153]:
#Question 12: Prepare a balanced panel such that
#1. Each country must have data for years 2010 till 2023.

years = list(range(2010, 2024))
country_years_count = wide_form_data.groupby('Country Name')['Year'].count()
complete_countries = country_years_count[country_years_count == len(years)].index
balanced_panel = wide_form_data[wide_form_data['Country Name'].isin(complete_countries)]
print(balanced_panel)

Indicator Code        Country Name  Year             N            N1  \
28                         Albania  2010  1.239645e+12  9.682785e+11
29                         Albania  2011  1.300624e+12  1.018381e+12
30                         Albania  2012  1.332811e+12  1.039151e+12
31                         Albania  2013  1.350053e+12  1.080439e+12
32                         Albania  2014  1.395305e+12  1.127230e+12
...                            ...   ...           ...           ...
3033            West Bank and Gaza  2019  1.705730e+10  1.542790e+10
3034            West Bank and Gaza  2020  1.551280e+10  1.377880e+10
3035            West Bank and Gaza  2021  1.810900e+10  1.602830e+10
3036            West Bank and Gaza  2022  1.916550e+10  1.913650e+10
3037            West Bank and Gaza  2023  1.742080e+10  1.768260e+10

Indicator Code            N2            N3            N4            N5  \
28              1.383117e+11  3.524121e+11  2.330778e+10  3.468457e+11
29              1.427326e+11  3.819443e+11  2.662831e+10  3.803225e+11
30              1.445409e+11  3.530440e+11  2.452203e+10  3.856820e+11
31              1.488500e+11  3.520878e+11  2.663572e+10  3.903856e+11
32              1.597885e+11  3.370872e+11  2.115309e+10  3.936574e+11
...                      ...           ...           ...           ...
3033            3.539800e+09  4.324000e+09  2.619000e+08  2.659300e+09
3034            3.639600e+09  3.528600e+09  2.462000e+08  2.385300e+09
3035            4.309800e+09  4.323500e+09  2.855000e+08  3.140300e+09
3036            3.927000e+09  4.795200e+09  2.881000e+08  3.533400e+09
3037            3.532200e+09  4.305600e+09  2.596000e+08  3.413300e+09

Indicator Code            N6           N7  ...            R4            R5  \
28              6.020206e+11          0.0  ...  2.330800e+10  3.468457e+11
29              6.760257e+11          0.0  ...  2.587300e+10  3.699945e+11
30              6.340543e+11          0.0  ...  2.362535e+10  3.710807e+11
31              6.339498e+11          0.0  ...  2.388739e+10  3.769772e+11
32              6.585120e+11          0.0  ...  1.883583e+10  3.813230e+11
...                      ...          ...  ...           ...           ...
3033            9.161700e+09   76200000.0  ...  2.598000e+08  2.630500e+09
3034            8.065700e+09   18900000.0  ...  2.354000e+08  2.335900e+09
3035            1.009440e+10  116000000.0  ...  2.525000e+08  2.740400e+09
3036            1.225800e+10 -256700000.0  ...  2.637000e+08  2.903200e+09
3037            1.163720e+10 -135300000.0  ...  2.670000e+08  3.068900e+09

Indicator Code            R6           R7   Nominal_GDP  Nominal_GDP_DIFF  \
28              6.020206e+11          0.0  1.227135e+12      1.250950e+10
29              6.392633e+11          0.0  1.273983e+12      2.664093e+10
30              5.964700e+11          0.0  1.312886e+12      1.992524e+10
31              5.926310e+11          0.0  1.364448e+12     -1.439571e+10
32              6.178699e+11          0.0  1.380404e+12      1.490047e+10
...                      ...          ...           ...               ...
3033            8.376100e+09   68700000.0  1.712740e+10     -7.010000e+07
3034            7.189100e+09   67100000.0  1.553170e+10     -1.890000e+07
3035            8.256400e+09   15400000.0  1.810900e+10      0.000000e+00
3036            9.885600e+09 -350800000.0  1.916550e+10      0.000000e+00
3037            1.017890e+10 -117900000.0  1.742080e+10      0.000000e+00

Indicator Code  Nominal_GDP_PERC_SD      Real_GDP  Real_GDP_DIFF  \
28                         1.009120  1.227136e+12   1.250856e+10
29                         2.048319  1.254603e+12   1.659573e+10
30                         1.494978  1.268310e+12   2.090509e+10
31                        -1.066307  1.293683e+12   8.449998e+09
32                         1.067901  1.289847e+12   3.539158e+10
...                             ...           ...            ...
3033                      -0.410968  1.582290e+10  -6.260000e+07
3034                      -0.121835  1.403740e+10  -6.710000e+07
3035                       0.000000  1.502170e+10   0.000000e+00
3036                       0.000000  1.563500e+10   0.000000e+00
3037                       0.000000  1.478900e+10   0.000000e+00

Indicator Code  Real_GDP_PERC_SD
28                      1.009044
29                      1.305518
30                      1.621536
31                      0.648935
32                      2.670582
...                          ...
3033                   -0.397201
3034                   -0.480305
3035                    0.000000
3036                    0.000000
3037                    0.000000

[1232 rows x 24 columns]

In [159]:
#Question 13: 
#1. Read the CSV file again, import all data as strings. Named your Dataframe "exchange_rate_df"
exchange_rate_df = pd.read_csv("C:/Users/uy128/Desktop/IFS_09-16-2024 16-36-10-58_timeSeries.csv", dtype=str)
#2. Select Years (2010 to 2023)
selected_years_data = exchange_rate_df.loc[:, '2010':'2023']
print(selected_years_data)

                   2010              2011              2012              2013  \
0                   100  99.1231897628024   103.90978027316  101.798080355636
1                   100  98.3265214845329  97.4905372174781  94.5815242984985
2      62089729047.8275  113477643233.393  119334631130.005  112731661960.942
3      24657441382.0644  24696445077.9007  24725269815.2626  24742042518.5962
4      641591660.944801  701051604.691813  761132857.178282  549850592.404873
...                 ...               ...               ...               ...
97899               NaN               NaN               NaN               NaN
97900               NaN               NaN               NaN               NaN
97901               NaN               NaN               NaN               NaN
97902               NaN               NaN               NaN               NaN
97903               NaN               NaN               NaN               NaN

                   2014              2015              2016              2017  \
0      102.924005799537  96.5731122012372  95.5845861241487    97.80447564541
1      94.6060830467699  85.8390347468218  81.1062421390044    80.60906091814
2      87849190804.7241  63912182583.8609  70657946339.6533  63547545981.7339
3      24738362064.4383  24732677849.0439  24721808931.3499  24716947436.9292
4      585188446.667753  537756222.240691  599237025.827539  640000000.456685
...                 ...               ...               ...               ...
97899               NaN               NaN               NaN  2114365890.82181
97900               NaN               NaN               NaN               NaN
97901               NaN               NaN               NaN               NaN
97902               NaN               NaN               NaN               NaN
97903               NaN               NaN               NaN               NaN

                   2018              2019              2020              2021  \
0      93.5157489171034  95.4487592754358  91.2229082196299  86.8016646784102
1      76.0965652454904  78.1204242756082  74.2962700990688  68.1517784189964
2      76857410073.5034  83949974428.7892   113891596672.98  112015603087.784
3      24707369756.9292  24680105650.9995  24686823840.9395   24824788263.205
4      647837035.071691  774267227.196942  923062855.463203               NaN
...                 ...               ...               ...               ...
97899  2158018067.57023  6577406147.59673  42742655184.5933  98888054506.3303
97900               NaN               NaN               NaN               NaN
97901               NaN               NaN               NaN               NaN
97902               NaN               NaN               NaN               NaN
97903               NaN               NaN               NaN               NaN

                   2022              2023
0      92.3381209145264  102.343515593608
1      72.3922554138843  78.0558372161119
2       112934663160.78  106272429524.781
3       24812821796.455   24938530806.455
4                   NaN               NaN
...                 ...               ...
97899  412152188700.442               NaN
97900  8.18311547054968               NaN
97901  6.27882599580713               NaN
97902  8.18311547054968               NaN
97903  6.27882599580713               NaN

[97904 rows x 14 columns]

In [161]:
#Question 13:
#3. Filter data where column "Attribute" contains only the attribute Value
exch_filtered_data = exchange_rate_df[exchange_rate_df['Attribute'] == 'Value']
print(exch_filtered_data)

                       Country Name Country Code  \
0                           Algeria          612
1                           Algeria          612
2                Advanced Economies          110
3                Advanced Economies          110
4      Afghanistan, Islamic Rep. of          512
...                             ...          ...
97899                      Zimbabwe          698
97900                      Zimbabwe          698
97901                      Zimbabwe          698
97902                      Zimbabwe          698
97903                      Zimbabwe          698

                                          Indicator Name    Indicator Code  \
0      Exchange Rates, Real Effective Exchange Rate b...          EREER_IX
1      Exchange Rates, Nominal Effective Exchange Rat...          ENEER_IX
2      International Reserves, Official Reserve Asset...       RAFAIMF_USD
3      International Reserves, Official Reserve Asset...      RAFAGOLD_XDR
4      International Reserves, Official Reserve Asset...     RAFAGOLDM_XDR
...                                                  ...               ...
97899  Changes in Inventories, Nominal, Domestic Curr...          NINV_XDC
97900  Unemployment, Persons, Percentage change, corr...  LU_PE_PC_CP_A_PT
97901  Labor Markets, Unemployment Rate, Percentage c...      LUR_PC_PP_PT
97902  Unemployment, Persons, Percentage change, prev...    LU_PE_PC_PP_PT
97903  Labor Markets, Unemployment Rate, Percentage c...    LUR_PC_CP_A_PT

      Attribute 1920 1921 1922 1923 1924  ...              2017  \
0         Value  NaN  NaN  NaN  NaN  NaN  ...    97.80447564541
1         Value  NaN  NaN  NaN  NaN  NaN  ...    80.60906091814
2         Value  NaN  NaN  NaN  NaN  NaN  ...  63547545981.7339
3         Value  NaN  NaN  NaN  NaN  NaN  ...  24716947436.9292
4         Value  NaN  NaN  NaN  NaN  NaN  ...  640000000.456685
...         ...  ...  ...  ...  ...  ...  ...               ...
97899     Value  NaN  NaN  NaN  NaN  NaN  ...  2114365890.82181
97900     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97901     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97902     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97903     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN

                   2018              2019              2020              2021  \
0      93.5157489171034  95.4487592754358  91.2229082196299  86.8016646784102
1      76.0965652454904  78.1204242756082  74.2962700990688  68.1517784189964
2      76857410073.5034  83949974428.7892   113891596672.98  112015603087.784
3      24707369756.9292  24680105650.9995  24686823840.9395   24824788263.205
4      647837035.071691  774267227.196942  923062855.463203               NaN
...                 ...               ...               ...               ...
97899  2158018067.57023  6577406147.59673  42742655184.5933  98888054506.3303
97900               NaN               NaN               NaN               NaN
97901               NaN               NaN               NaN               NaN
97902               NaN               NaN               NaN               NaN
97903               NaN               NaN               NaN               NaN

                   2022              2023 2024 Base Year Unnamed: 111
0      92.3381209145264  102.343515593608  NaN       NaN          NaN
1      72.3922554138843  78.0558372161119  NaN       NaN          NaN
2       112934663160.78  106272429524.781  NaN       NaN          NaN
3       24812821796.455   24938530806.455  NaN       NaN          NaN
4                   NaN               NaN  NaN       NaN          NaN
...                 ...               ...  ...       ...          ...
97899  412152188700.442               NaN  NaN       NaN          NaN
97900  8.18311547054968               NaN  NaN       NaN          NaN
97901  6.27882599580713               NaN  NaN       NaN          NaN
97902  8.18311547054968               NaN  NaN       NaN          NaN
97903  6.27882599580713               NaN  NaN       NaN          NaN

[75489 rows x 112 columns]

In [165]:
#Question 13:
4. #Filter data where column "Indicator Code" contains only "ENDA_XDC_USD_RATE" which is 
#Exchange Rates, Domestic Currency per U.S. Dollar, Period Average, Rate.

filtered_indicator_data = exch_filtered_data[exch_filtered_data['Indicator Code'] == 'ENDA_XDC_USD_RATE']
print(filtered_indicator_data)

                       Country Name Country Code  \
533    Afghanistan, Islamic Rep. of          512
535                          Angola          614
539                         Algeria          612
553                         Albania          914
2256       Andorra, Principality of          171
...                             ...          ...
96613                Yemen, Rep. of          474
96931                    Yugoslavia          188
96970               Yemen Arab Rep.          473
96981  Yemen, People's Dem. Rep. of          459
97517                      Zimbabwe          698

                                          Indicator Name     Indicator Code  \
533    Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE
535    Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE
539    Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE
553    Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE
2256   Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE
...                                                  ...                ...
96613  Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE
96931  Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE
96970  Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE
96981  Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE
97517  Exchange Rates, Domestic Currency per U.S. Dol...  ENDA_XDC_USD_RATE

      Attribute 1920 1921 1922 1923 1924  ...              2017  \
533       Value  NaN  NaN  NaN  NaN  NaN  ...  68.0269040822312
535       Value  NaN  NaN  NaN  NaN  NaN  ...  165.915950691498
539       Value  NaN  NaN  NaN  NaN  NaN  ...  110.973016666667
553       Value  NaN  NaN  NaN  NaN  NaN  ...             119.1
2256      Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
...         ...  ...  ...  ...  ...  ...  ...               ...
96613     Value  NaN  NaN  NaN  NaN  NaN  ...           282.195
96931     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
96970     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
96981     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN
97517     Value  NaN  NaN  NaN  NaN  NaN  ...               NaN

                   2018              2019              2020  \
533     72.083247177304  77.7379491783367  76.8135364354897
535    252.855747731297  364.825804980887   578.25878028011
539    116.593791666667  119.353558333333          126.7768
553    107.989166666667  109.850833333333            108.65
2256                NaN               NaN               NaN
...                 ...               ...               ...
96613            214.89  486.730922939068  743.005964356532
96931               NaN               NaN               NaN
96970               NaN               NaN               NaN
96981               NaN               NaN               NaN
97517               NaN               NaN  51.3290131226287

                    2021               2022               2023 2024 Base Year  \
533                  NaN                NaN                NaN  NaN       NaN
535     631.441955506727   460.567511631462   685.020237761449  NaN       NaN
539     135.064058333333         141.994975   135.842933333333  NaN       NaN
553               103.52   113.041666666667            100.645  NaN       NaN
2256   0.845376564367945  0.950915533962108  0.924709622987356  NaN       NaN
...                  ...                ...                ...  ...       ...
96613     1028.107754329   1115.00238710662   1355.11637864823  NaN       NaN
96931                NaN                NaN                NaN  NaN       NaN
96970                NaN                NaN                NaN  NaN       NaN
96981                NaN                NaN                NaN  NaN       NaN
97517   88.5524472597436   374.954362604663   3509.17222037558  NaN       NaN

      Unnamed: 111
533            NaN
535            NaN
539            NaN
553            NaN
2256           NaN
...            ...
96613          NaN
96931          NaN
96970          NaN
96981          NaN
97517          NaN

[217 rows x 112 columns]

In [167]:
#Question 13: 
#5. Remove all columns except "Country Name", and Years (2010 to 2023)
final_data = filtered_indicator_data[['Country Name']].join(selected_years_data)
print(final_data)

                       Country Name              2010              2011  \
533    Afghanistan, Islamic Rep. of  46.4524610013175   46.747007738581
535                          Angola  91.9057203405018          93.93475
539                         Algeria  74.3859833333333  72.9378833333333
553                         Albania  103.936666666667  100.895833333333
2256       Andorra, Principality of               NaN               NaN
...                             ...               ...               ...
96613                Yemen, Rep. of            219.59             213.8
96931                    Yugoslavia               NaN               NaN
96970               Yemen Arab Rep.               NaN               NaN
96981  Yemen, People's Dem. Rep. of               NaN               NaN
97517                      Zimbabwe               NaN               NaN

                   2012              2013              2014              2015  \
533             50.9214           55.3775           57.2475  61.1434615416667
535     95.467955421311  96.5182794791526  98.3024168556335  120.060701665019
539    77.5359666666667           79.3684  80.5790166666667  100.691433333333
553    108.184166666667  105.669166666667            105.48  125.961666666667
2256                NaN               NaN               NaN               NaN
...                 ...               ...               ...               ...
96613  214.349166666667            214.89            214.89  230.833333333333
96931               NaN               NaN               NaN               NaN
96970               NaN               NaN               NaN               NaN
96981               NaN               NaN               NaN               NaN
97517               NaN               NaN               NaN               NaN

                   2016              2017              2018              2019  \
533    67.8660857692308  68.0269040822312   72.083247177304  77.7379491783367
535    163.656434116579  165.915950691498  252.855747731297  364.825804980887
539    109.443066666667  110.973016666667  116.593791666667  119.353558333333
553            124.1425             119.1  107.989166666667  109.850833333333
2256                NaN               NaN               NaN               NaN
...                 ...               ...               ...               ...
96613  283.895833333333           282.195            214.89  486.730922939068
96931               NaN               NaN               NaN               NaN
96970               NaN               NaN               NaN               NaN
96981               NaN               NaN               NaN               NaN
97517               NaN               NaN               NaN               NaN

                   2020               2021               2022  \
533    76.8135364354897                NaN                NaN
535     578.25878028011   631.441955506727   460.567511631462
539            126.7768   135.064058333333         141.994975
553              108.65             103.52   113.041666666667
2256                NaN  0.845376564367945  0.950915533962108
...                 ...                ...                ...
96613  743.005964356532     1028.107754329   1115.00238710662
96931               NaN                NaN                NaN
96970               NaN                NaN                NaN
96981               NaN                NaN                NaN
97517  51.3290131226287   88.5524472597436   374.954362604663

                    2023
533                  NaN
535     685.020237761449
539     135.842933333333
553              100.645
2256   0.924709622987356
...                  ...
96613   1355.11637864823
96931                NaN
96970                NaN
96981                NaN
97517   3509.17222037558

[217 rows x 15 columns]

In [169]:
#Question 13:
#6. Reshape the dataframe from wide to long The years are organized under a new column named
#"Year" , and he values are organized under a new column named "ENDA_XDC_USD_RATE"

long_data = final_data.melt(id_vars=['Country Name'], 
                             var_name='Year', 
                             value_name='ENDA_XDC_USD_RATE')
print(long_data)

                      Country Name  Year ENDA_XDC_USD_RATE
0     Afghanistan, Islamic Rep. of  2010  46.4524610013175
1                           Angola  2010  91.9057203405018
2                          Algeria  2010  74.3859833333333
3                          Albania  2010  103.936666666667
4         Andorra, Principality of  2010               NaN
...                            ...   ...               ...
3033                Yemen, Rep. of  2023  1355.11637864823
3034                    Yugoslavia  2023               NaN
3035               Yemen Arab Rep.  2023               NaN
3036  Yemen, People's Dem. Rep. of  2023               NaN
3037                      Zimbabwe  2023  3509.17222037558

[3038 rows x 3 columns]

In [171]:
#Question 13:
#7. Join this dataframe with the data at you prepared at the end of Question 12. 
#Make sure the result drop extra countries from Dataframe "exchange_rate_df" which are not in your main dataframe.
merged_data = pd.merge(long_data, balanced_panel, on=['Country Name', 'Year'], how='inner')
print(merged_data)

              Country Name  Year  ENDA_XDC_USD_RATE             N  \
0                  Albania  2010   103.936666666667  1.239645e+12
1                Australia  2010   1.09015948638677  1.366328e+12
2                Argentina  2010    3.8962951544705  1.661721e+12
3                 Anguilla  2010                2.7  7.228800e+08
4             Bahamas, The  2010                  1  1.009576e+10
...                    ...   ...                ...           ...
1213          Turkmenistan  2023                NaN  2.698700e+11
1214        United Kingdom  2023  0.804538906734353  2.687186e+12
1215         United States  2023                  1  2.736094e+13
1216  United Arab Emirates  2023             3.6725  1.888144e+12
1217               Vietnam  2023   23787.3191666667  4.656613e-01

                N1            N2            N3            N4            N5  \
0     9.682785e+11  1.383117e+11  3.524121e+11  2.330778e+10  3.468457e+11
1     7.432126e+11  2.544240e+11  3.598070e+11 -2.870000e+08  2.894020e+11
2     1.067392e+12  2.519787e+11  2.765347e+11  1.768190e+10  3.146273e+11
3     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
4     6.227357e+09  1.263714e+09  2.694933e+09  0.000000e+00  3.528828e+09
...            ...           ...           ...           ...           ...
1213  0.000000e+00  1.782584e+10  0.000000e+00  0.000000e+00  4.847522e+10
1214  1.661323e+12  5.570760e+11  4.909100e+11 -1.385000e+10  8.645390e+11
1215  1.857064e+13  3.752584e+12  5.782792e+12  5.360690e+10  3.027244e+12
1216  8.612379e+11  2.344924e+11  5.112840e+11  0.000000e+00  2.050730e+12
1217  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

                N6  ...            R4            R5            R6  \
0     6.020206e+11  ...  2.330800e+10  3.468457e+11  6.020206e+11
1     2.827120e+11  ... -5.550000e+08  4.442420e+11  3.677390e+11
2     2.664933e+11  ...  5.875300e+09  1.551019e+11  1.574715e+11
3     0.000000e+00  ...  0.000000e+00  0.000000e+00  0.000000e+00
4     4.414123e+09  ...  0.000000e+00  2.828218e+09  4.148203e+09
...            ...  ...           ...           ...           ...
1213  3.150159e+10  ...  0.000000e+00  1.520600e+10  7.183845e+09
1214  8.979160e+11  ... -1.300800e+10  7.117850e+11  7.427240e+11
1215  3.825930e+12  ...  4.369060e+10  2.503899e+12  3.432017e+12
1216  1.769600e+12  ...  0.000000e+00  1.811494e+12  1.707281e+12
1217  0.000000e+00  ...  0.000000e+00  0.000000e+00  0.000000e+00

                R7   Nominal_GDP  Nominal_GDP_DIFF  Nominal_GDP_PERC_SD  \
0     0.000000e+00  1.227135e+12      1.250950e+10             1.009120
1     2.929000e+09  1.366328e+12      4.062500e+05             0.000030
2     0.000000e+00  1.661721e+12     -2.360229e+05            -0.000014
3     0.000000e+00  0.000000e+00      7.228800e+08           100.000000
4     0.000000e+00  9.300710e+09      7.950547e+08             7.875131
...            ...           ...               ...                  ...
1213  0.000000e+00  3.479947e+10      2.350705e+11            87.105099
1214  0.000000e+00  2.662082e+12      2.510400e+10             0.934211
1215 -2.773040e+10  2.736094e+13     -4.638672e+05            -0.000002
1216  0.000000e+00  1.888144e+12      0.000000e+00             0.000000
1217  0.000000e+00  0.000000e+00      4.656613e-01           100.000000

          Real_GDP  Real_GDP_DIFF  Real_GDP_PERC_SD
0     1.227136e+12   1.250856e+10      1.009044e+00
1     1.753486e+12   6.230000e+09      3.540344e-01
2     6.705239e+11  -3.059082e+05     -4.562229e-05
3     0.000000e+00   6.678000e+08      1.000000e+02
4     1.055574e+10   1.094915e+09      9.397882e+00
...            ...            ...               ...
1213  1.100272e+10   1.008943e+11      9.016710e+01
1214  2.251875e+12   2.125100e+10      9.348800e-01
1215  2.229902e+13   7.788542e+10      3.480616e-01
1216  1.676952e+12  -2.685547e-03     -1.601445e-13
1217  0.000000e+00   4.656613e-01      1.000000e+02

[1218 rows x 25 columns]

In [173]:
#Question 14: Calculate
#1. "Real_GDP_USD" using Equation 13
#Equation 13: Real_GDP_USD = (R/ENDA_XDC_USD_RATE)

merged_data['Real_GDP_USD'] = merged_data['R'].astype(float) / merged_data['ENDA_XDC_USD_RATE'].astype(float)
print(merged_data[['Country Name', 'Year', 'Real_GDP_USD']])

              Country Name  Year  Real_GDP_USD
0                  Albania  2010  1.192692e+10
1                Australia  2010  1.614182e+12
2                Argentina  2010  1.720926e+11
3                 Anguilla  2010  2.473333e+08
4             Bahamas, The  2010  1.165066e+10
...                    ...   ...           ...
1213          Turkmenistan  2023           NaN
1214        United Kingdom  2023  2.825377e+12
1215         United States  2023  2.237691e+13
1216  United Arab Emirates  2023  4.566242e+11
1217               Vietnam  2023  1.957603e-05

[1218 rows x 3 columns]

In [175]:
#Question 14:
#2. "Nominal_GDP_USD" using Equation 14
#Equatoin 14: (N/ENDA_XDC_USD_RATE)

merged_data['Nominal_GDP_USD'] = merged_data['N'].astype(float) / merged_data['ENDA_XDC_USD_RATE'].astype(float)
print(merged_data[['Country Name', 'Year', 'Nominal_GDP_USD']])

              Country Name  Year  Nominal_GDP_USD
0                  Albania  2010     1.192692e+10
1                Australia  2010     1.253329e+12
2                Argentina  2010     4.264874e+11
3                 Anguilla  2010     2.677333e+08
4             Bahamas, The  2010     1.009576e+10
...                    ...   ...              ...
1213          Turkmenistan  2023              NaN
1214        United Kingdom  2023     3.340032e+12
1215         United States  2023     2.736094e+13
1216  United Arab Emirates  2023     5.141304e+11
1217               Vietnam  2023     1.957603e-05

[1218 rows x 3 columns]

In [179]:
#Question 14: Calculate
#3. Mean "Real_GDP_USD" and mean "Nominal_GDP_USD" across countries. 
#Order the result in ascending order of mean"Real_GDP_USD"

mean_gdp = merged_data.groupby('Country Name')[['Real_GDP_USD', 'Nominal_GDP_USD']].mean().reset_index()
mean_gdp_sorted = mean_gdp.sort_values(by='Real_GDP_USD', ascending=True).reset_index()
print(mean_gdp_sorted)

    index       Country Name  Real_GDP_USD  Nominal_GDP_USD
0      56         Montserrat  6.449458e+07     6.415958e+07
1       1           Anguilla  2.473206e+08     3.173612e+08
2      38          Indonesia  7.604333e+08     1.019629e+09
3      11            Burundi  1.033853e+09     2.973204e+09
4      27   Estonia, Rep. of  1.248578e+09     1.248578e+09
..    ...                ...           ...              ...
82     68           Portugal           NaN              NaN
83     73        Slovak Rep.           NaN              NaN
84     74  Slovenia, Rep. of           NaN              NaN
85     76              Spain           NaN              NaN
86     81       Turkmenistan           NaN              NaN

[87 rows x 4 columns]